services:
  next-app:
    build:
      context: .
    ports:
      - 3000:3000
    depends_on:
      - db
  db:
    image: 'postgres:alpine'
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_DB: zoodb
      POSTGRES_PASSWORD: root
    ports:
      - 5432:5432