@import '../scss/var';

.firstElement{
  background: $secondary;
  color: white;

  .heading {
    padding: 50px 30px;
  }
  
  h2 {
    font-size: 3rem;
    font-weight: 400;
  }

  .textDivider {
    width: 40%;
    height: 3px;
    border-radius: 20px;
    background-color: $primary;
    margin: 5px 0;
  }
}

.divider {
  height: 15px;
  background-color: $danger;
}

.secondElement{
  margin: 3rem 0 3rem 0;

  ul{
    font-size: 1.5rem;
  }

  li{
    margin: 1rem;
  }

  .textDivider {
    width: 10%;
    height: 3px;
    border-radius: 20px;
    background-color: $danger;
    margin: 5px 0;
  }


}