@import '../scss/var';

.firstElement{
  background: $secondary;
  color: white;

  .heading {
    padding: 50px 30px;
  }
  
  h2 {
    font-size: 3rem;
    font-weight: 400;
  }

  .textDivider {
    width: 40%;
    height: 3px;
    border-radius: 20px;
    background-color: $primary;
    margin: 5px 0;
  }

  .img{
    padding: 0 10px;
    margin-top: 3rem;
  }

}

.divider {
  height: 15px;
  background-color: $danger;
}